<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *, ::before, ::after{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font: inherit
        }
        body{
            font-family: sans-serif;
            height: 100%;
            width: 100%;
        }
        div{
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: xx-large;
            font-weight: 800;
        }

    </style>
</head>
<body>
    <div>
        Error-404 Requested Page Not Found
    </div>
</body>
</html>