

.inner{
    height: 90vh;
}

.header{
    height: 6vh;
}

.navigation{
    height: 5vh;
}

.content{
    height: 79vh;
}

/* .left,
.right{
    height: 100%;
} */

#expenseTable{
    
}

td {
    max-width: 15ch; /* Adjust the number of characters as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Adds ellipsis (...) for hidden text */
}

.inactive
{
    display: none;
}

canvas{
    width:100%;
    max-width:700px;
    height: 250px;
}

#leaderBoardTable thead,
#leaderBoardTable tbody{
    text-align: center;
}
